<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    {{> navigation}}
    <h1>Logged in as, {{username}} </h1>
    {{#each posts}}
    <p>{{this.content}} was written by: {{this.author.username}}</p>
    {{else}}
    <p class="empty">No content</p>
    {{/each}}
</body>

</html>